@import "./imports/_normalize.scss";

*{ box-sizing: border-box;
}


#app-container{

    background-color: black;

    .home-fa {
      color: #fff;
      margin-left: 10px;
   }

   .home-background{
      background: url('../images/wood-stack.jpg') center top no-repeat;
      background-size: cover;
      height: 100%;
      background-color: #bbb;

   }

      .hovereffect {
       width: 100%;
       height: 100%;
       float: left;
       overflow: hidden;
       position: relative;
       text-align: center;
       cursor: default;
   }

      .img-responsive {
         margin-bottom: 400px;
      }

   .hovereffect .overlay {
       width: 100%;
       position: absolute;
       overflow: hidden;
       left: 0;
   	 top: auto;
   	 bottom: 0;
   	 padding: 1em;
   	 height: 4.75em;
       background-color: rgba(0,0,0,0.4);
   	 color: #3c4a50;
   	 -webkit-transition: -webkit-transform 0.35s;
   	 transition: transform 0.35s;
   	 -webkit-transform: translate3d(0,100%,0);
   	 transform: translate3d(0,100%,0);
   }

   .hovereffect img {
       display: block;
       position: relative;
   	-webkit-transition: -webkit-transform 0.35s;
   	transition: transform 0.35s;
   }

   .hovereffect:hover img {
   -webkit-transform: translate3d(0,-10%,0);
   	transform: translate3d(0,-10%,0);
   }

   .hovereffect h2 {
       text-transform: uppercase;
       color: #fff;
       text-align: center;
       position: relative;
       font-size: 17px;
       padding: 10px;
       background: rgba(0, 0, 0, 0.6);
   	 float: left;
   	 margin: 0px;
   	 display: inline-block;
   }

   .hovereffect a.info {
       display: inline-block;
       text-decoration: none;
       padding: 7px 14px;
       text-transform: uppercase;
   	color: #fff;
   	border: 1px solid #fff;
   	margin: 50px 0 0 0;
   	background-color: transparent;
   }
   .hovereffect a.info:hover {
       box-shadow: 0 0 5px #fff;
   }


   .hovereffect p.icon-links a {
   	float: right;
   	color: #FFF;
   	font-size: 1.4em;
   }

   .hovereffect:hover p.icon-links a:hover,
   .hovereffect:hover p.icon-links a:focus {
   	color: orange;
   }

   .hovereffect h2,
   .hovereffect p.icon-links a {
   	-webkit-transition: -webkit-transform 0.35s;
   	transition: transform 0.35s;
   	-webkit-transform: translate3d(0,200%,0);
   	transform: translate3d(0,200%,0);
      padding-right: 25px;
   }

   .hovereffect p.icon-links a span:before {
   	display: inline-block;
   	padding: 8px;
   	speak: none;
   	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
   }


   .hovereffect:hover .overlay,
   .hovereffect:hover h2,
   .hovereffect:hover p.icon-links a {
   	-webkit-transform: translate3d(0,0,0);
   	transform: translate3d(0,0,0);
   }

   .hovereffect:hover h2 {
   	-webkit-transition-delay: 0.05s;
   	transition-delay: 0.05s;
   }

   .hovereffect:hover p.icon-links a:nth-child(3) {
   	-webkit-transition-delay: 0.2s;
   	transition-delay: 0.2s;
   }

   .hovereffect:hover p.icon-links a:nth-child(2) {
   	-webkit-transition-delay: 0.4s;
   	transition-delay: 0.4s;
   }

   .hovereffect:hover p.icon-links a:first-child {
   	-webkit-transition-delay: 0.2s;
   	transition-delay: 0.2s;
   }



   .works-background {
      background: url('../images/chop.jpeg') center top no-repeat;
      background-size: cover;
      height: 100% auto;
   }

   .hl{
      color: #FFF;
   }

   .work-links {
      color: black;
   }
      .wl1{
         position: fixed;
         margin-left: 760px;
         margin-top: 400px;
      }
      .wl2{
         position: fixed;
         margin-left: 820px;
         margin-top: 400px;

      }
      .wl3{
         position: fixed;
         margin-left: 880px;
         margin-top: 400px;

      }

   .works-logo{
      position: fixed;
      margin-left: 550px;

   }

   .works-thumb {
      background: rgba(0, 0, 0, .2);
      border: none;
      margin-left: 15px;
      color: #FFF;
      h3{
         color: #FFF;
         font-style: none;
      }
      p{
         color:#FFF;
         font-style: none;
      }
   }

   .contact-background {
      background: url('../images/fire.jpeg') center top no-repeat;
      background-size: cover;
      height: 170%;
   }



   .contact-left-column {
      color: #FFF;
      padding-top: 50px;
         i{
            color: #FFF;
         }
         a{
            color: #FFF;
         }
   }

   .content-column {
      position: absolute;
      top: 40%;
      left: 48%;
      width: 500px;
      height: 500px;
      margin-top: -250px;
      margin-left: -250px;
   }

   .resume{
      position: absolute;
      top: 90%;
      left: 52%;
      width: 500px;
      height: 500px;
      margin-top: -250px;
      margin-left: -250px;

   }

   .cl1{
      display: LinkedIn;
      color: #FFF;
      position: absolute;
      left:38%;
      margin-top: 350px;
   }
   .cl2{
      color: #FFF;
      position: absolute;
      left: 50%;
      margin-top: 350px;

   }
   .cl3{
      color: #FFF;
      position: absolute;
      left: 60%;
      margin-top: 350px;

   }

   .pdf-download{
      color: #FFF;
      text-decoration: none;
      margin-top: 80%;
      margin-left: 33%;
         a {
            color: #FFF;
         }
   }

   p{
      text-shadow: 1px 1px #C8C5C5;
   }

   .page-gulfstream {
     .header {
       background-color: #2b455d;

       .header-inner--wrapper {
         max-width: 1200px;
         padding: 0 10px;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
       }

       h1 {
         flex: 0 1 70%;
       }

       .header-nav-triplet {
         flex: 0 1 30%;
         display: flex;
         justify-content: space-around;
         list-style-type: none;

         > li {
           flex: 0 1 auto;
         }

         .header-subnav-anchor--aircraft {
           border-bottom: 2px solid transparent;
           &:hover {
             //hoving on Aircraft
             border-bottom: 2px solid #041c2c;
             position: relative;

             .header-accordion {
               // nested Ul with aircraft list
               //using opacity to avoid redraw of page
               opacity: 1;
               visibility: visible;
               cursor: pointer;
               transition: 0.25s opacity 0.5s;
               z-index: 20;
             }
           }
         }
       }

       .header-accordion {
         list-style-type: none;
         opacity: 0;
         visibility: hidden;
         position: absolute;
         left: 0;
         right: 0;
         padding-inline-start: 0;
         transition: 0.25s opacity;
         background: rgba(255, 255, 255, 0.5);
         padding: 5px 15px 5px 5px;
         width: 90px;
         max-width: 100%;

         &:hover {
           visibility: visible;
           background: rgba(255, 255, 255, 0.5);
         }

         // li {
         //   background: rgba(255, 255, 255, 0.5);
         //   padding: 5px 15px 5px 5px;
         // }
         a {
           color: black;

           &:hover {
             background: rgba(84, 107, 135, 0.7);
             color: #2b455d;
           }
         }
       }

       .header-mobile {
         visibility: hidden;
       }

       @media only screen and (max-width: 768px) {
         background-color: rgba(84, 107, 135, 0.3);
         padding: 0 40px;

         .header-inner--wrapper {
           overflow: hidden;
         }

         .header-mobile {
           visibility: visible;
           font-size: 1.5em;
         }

         .js-open {
           transform: translateX(0) !important;
         }

         .header-nav-triplet {
           flex-wrap: wrap;
           flex-wrap: wrap;
           position: absolute;
           right: 6%;
           top: 10px;
           bottom: 100%;
           z-index: 19;
           background-color: #2b455d;
           transform: translateX(290px);

           .header-accordion {
             opacity: 1;
             visibility: visible;
             position: static;
           }

           li {
             flex: 0 1 100%;
           }
         }
       }
     }

     .hero--wrapper {
       position: relative;
     }

     .hero--image {
       background-image: url(" https://fillmurray.com/1900/1080");
       padding-bottom: 100vw;
       background-position: center center;
       background-repeat: no-repeat;
       z-index: 5;
       background-attachment: fixed;
       background-size: cover;
     }

     .hero-overlay {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       z-index: 12;
       display: flex;
       justify-content: center;
       align-items: center;

       h3 {
         font-weight: normal;
         color: white;
         font-size: 1.5em;
         transform: scale(0);
         animation: 1s zoom 1.5s ease-in-out forwards;
       }

       b {
         text-transform: uppercase;
         display: block;
       }

       span {
         font-family: cursive;
       }
     }

     @keyframes zoom {
       100% {
         transform: scale(1);
       }
     }

     @media only screen and (max-width: 768px) {
       .hero--image {
         padding-bottom: 56%; // 1080 divided by 1920 to hold aspect ratio of image
         background-attachment: inherit;
       }

       .hero-overlay {
         margin-left: 4%;
         justify-content: flex-start;
         align-items: flex-end;
       }
     }


     .content-body {
       .content-body--inner-wrapper {
         max-width: 900px;
         margin: 0 auto;
         padding: 0 1vw;
       }
       .body-content--flex {
         display: flex;
         justify-content: space-betweceen;
         align-items: center;
         border: 1px solid black;
         margin: 40px 0 0;
         padding: 10px;
         // border: 1px soild black;

         .flex-child {
           flex: 0 1 30%;
           width: 250px;
           max-width: 100%;
         }

         .flex-child--copy {
           flex: 0 1 70%;
           max-width: 500px;
           width: 100%;
         }

         .flex-child:last-of-type {
           background-image: url(" https://fillmurray.com/200/300") cover no-repeat center;
         }
       }

       .body-content-right {
         background-color: #2b455d;
         color: white;
         .flex-child:last-of-type {
           order: -1;
           background-image: url(" https://fillmurray.com/200/300") cover no-repeat center;
         }
       }

       .body-contact {
         margin: 40px auto;
         max-width: 300px;
         width: 100%;
       }

       .body-contact--inner {
         margin: 0 auto;
       }

       form {
         text-align: right;
       }

       .body--contact--input {
         input {
           margin: 0 0 10px 10px;
           line-height: 20px;
         }

         input[type='text'] {
           width: 200px;
         }

         &.input--lg {
           input {
             line-height: 150px;
           }

           label {
             vertical-align: top;
           }
         }
       }

       @media only screen and (max-width: 768px) {
         .body-content-right {
           background-color: #fff;
           color: black;
         }

         .body-content--flex {
           border: none;
           flex-wrap: wrap;
           justify-content: center;

           .flex-child {
             flex: 0 1 100%;
           }

           .flex-child:first-of-type {
             order: 1;
           }
         }
       }
     }

     .footer {
       background-color: #2b455d;
       color: white;

       .footer--inner {
         max-width: 900px;
         margin: 0 auto;
         padding: 0 10px;
       }

       .footer-copy-container {
         display: flex;
         justify-content: center;

         h2:first-of-type {
           padding-right: 5px;
         }
       }
     }

   }



}
